body {
    align-items: center;
    text-align: center;
    padding: 300px;
    background-color: steelblue;

}

.header {
    background-color: #fff;
    max-width: 400px;
    margin: 0 auto;
    padding: 25px;
    border: 1px solid black;
    border-radius: 10px;
}

button {
    border-radius: 10%;
    background-color: green;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    color: black;
}
